{% extends 'base.html.twig' %}

{% block body %}

<div class="textoNuestro">
<h3>NOSOTROS.</h3>
<p>Tienda online de padel con las mejores palas del planeta. Encontraras desde palas de nivel basico, hasta super palas de nivel experto para los mas jugones y experimentados en el mundo de este deporte tan de moda conocido como el padel. Tambien encontraremos material deportivo y ropa, camisetas, zapatillas, botes de bolas y mucho mas.</p>
</div>
<br>
<!-- VIDEO -->
<div class="video">
<iframe width="1340" height="600" src="https://www.youtube.com/embed/NJ20S3diGnE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{% endblock %}
